<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/reminders" text=""></ion-back-button>
        </ion-buttons>
        <ion-title>Edit To-do</ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="onEditToDo()" [disabled]="!form.valid">
                <ion-icon name="checkmark" slot="icon-only"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <form [formGroup]="form">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Title</ion-label>
                <ion-input formControlName="title"></ion-input>
            </ion-item>
        </ion-list>
    </form>
</ion-content>
