<ion-header>
  <ion-toolbar>
    <ion-title>Reminder</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <form [formGroup]="form">
        <ion-list>
            <ion-item>
                <ion-label position="floating">Username</ion-label>
                <ion-input formControlName="email" type="email"></ion-input>
            </ion-item>
            <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input formControlName="password" type="password"></ion-input>
            </ion-item>
        </ion-list>
        <ion-button (click)="onLogIn()" [disabled]="!form.valid" color="primary" expand="full">Log In
        </ion-button>
        <ion-button color="danger" expand="full" routerLink="/sign-up">Sign Up</ion-button>
    </form>
</ion-content>
