.error-validation {
  color: var(--ion-color-danger);
  font-size: 0.8rem;
}

.error-icon {
  color: var(--ion-color-danger);
  font-size: 1rem;
}

ion-item {
  --highlight-color-focused: var(--ion-color-tertiary);
  --highlight-color-invalid: var(--ion-color-tertiary);
  --highlight-color-valid: var(--ion-color-tertiary);
}
